.project1-container{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 30px 0px;
    overflow: hidden;
}
.project1-description-wrapper{
    grid-column:1;
    grid-row: 1;
}
.project1-description-title,.project1-role-title,.project1-source-code-title,.project1-site-title{
    font-family: 'Poppins',sans-serif;
    font-size: 2.5em;
    font-weight: 700;
}
.project1-description-text,.project1-role-text,.project1-source-code-link,.project1-site-link{
    font-family: 'Poppins',sans-serif;
    font-size: 1em;
    font-weight: 100;
    padding-left: 2em;
}
.project1-role-wrapper{
    grid-column: 1;
    grid-row: 2;
}
.project1-images-wrapper{
    position: relative;
    grid-column: 2;
    grid-row: 1/ span 8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    padding-top: 1000px;
}
.project1-images-wrapper::-webkit-scrollbar{display: none;}
/* .project1-images-wrapper::before{
    position: absolute;
    top: 0;
    content: '';
    width: 100%;
    height: 40%;
    background: linear-gradient(rgb(25, 28, 29), rgba(255, 255, 255, 0));
    z-index: 9;
}
.project1-images-wrapper::after{
    position: absolute;
    bottom: 0;
    content: ''; 
    width: 100%;
    height: 40%;
    background: linear-gradient(rgba(255, 255, 255, 0),rgb(25, 28, 29));
    z-index: 9;
} */
.img:not(:last-child){
    margin-bottom: 2em;
}
.img{
    position: relative;
    flex: none;
    width: 80%;
    height: 300px;
    background-color: rgba(216, 191, 216, 0.384);
    border-radius: 50px;
    overflow: hidden;
}
.project1-source-code-wrapper{
    grid-column: 1;
    grid-row: 5;
}
.project1-site-link-wrapper{
    grid-column: 1;
    grid-row: 6;
}
.project1-image1{
    background-image: url('../../../../images/cooking_app_ui_1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 100px;
}
.project1-image2{
    background-image: url('../../../../images/cooking_app_ui_2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.project1-image3{
    background-image: url('../../../../images/cooking_app_ui_3.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.project1-image4{
    height: 900px;
    background-image: url('../../../../images/cooking_app_ui_desktop.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 200px;
}
.project-github-link,.project-github-repo{
    position: relative;
    color: cyan;
}
.project-github-link::after,.project-github-repo::after{
    content: '';
    position: absolute;
    bottom: -5%;
    right: 0;
    width: 10px;
    height: 3px;
    background-color: #fff;
    transition: all 0.3s ease-in;
}
.project-site-link:hover .project-github-link::after{
    width: 100%;
}
.project-source-code-link:hover .project-github-repo::after{
    width: 100%;
}
@media only screen and (max-width:428px){
    .img{
        border-radius: 10px;
    }
    .project1-container{
        display: grid;
        grid-template-columns: 1fr;
        overflow: hidden;
    }
    .project1-description-wrapper{
        padding-left: 20px;
        grid-column: 1;
        grid-row: 1 / span 2;
    }
    .project1-description-text,.project1-role-text{
        padding-right: 40px;
    }
    .project1-role-wrapper{
        padding-left: 20px;
        grid-column: 1;
        grid-row: 3;
    }
    .project1-images-wrapper{
        position: relative;
        grid-column: 1;
        grid-row: 4 / span 4;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100vw;
        overflow-x: auto;
        margin-left: -30px;
        padding: 0;
        padding-right: 100px;
    }
    .project1-image1,.project1-image2,.project1-image3,.project1-image4{
        margin: 0;
        margin-left: 20px;
        width: 200px;
        height: 350px;
    }
    .project1-image1{
        margin-left: 800px;
    }
    .project1-images-wrapper::before{
        display: none;
    }
    .project1-images-wrapper::after{
        display: none;
    }
    .project1-source-code-wrapper{
        grid-column: 1;
        grid-row: 9;
    }
    .project1-site-link-wrapper{
        grid-column: 1;
        grid-row: 10;
    }
    .project1-description-title,.project1-role-title,.project1-source-code-title,.project1-site-title{
        font-family: 'Poppins',sans-serif;
        font-size: 18px;
        font-weight: 700;
    }
    .project1-description-text,.project1-role-text,.project1-source-code-link,.project1-site-link{
        font-family: 'Poppins',sans-serif;
        font-size: 0.8em;
        font-weight: 100;
        padding-left: 1em;
    }
}