.form-close{
    position: absolute;
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    right: -60px;
    top: -60px; 
}
.form-bar{
    width: 50px;
    height: 3px;
    background-color: #fff;
    transition: all 1s ease-in-out;
    transform-origin: center;
}
.formbar1-active{
    position: absolute;
    top: 30px;
    transform: rotate(45deg);
}
.formbar3-active{
    position: absolute;
    top: 30px;
    transform: rotate(-45deg);
}
.formbar2-active{
    transform: translateX(100%);
    opacity: 0;
}
.form-bg{
    transition: all 0.1s ease-in;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.459);
}