.btn{
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.contact-btn{
    position: relative;
    font-family: 'Poppins',sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    color: #C3FCFF;
    white-space: nowrap;
    line-height: 250%;
}
.contact-btn::before{
    content: '';
    width: 100px;
    height: 5px;
    background-color: #fff;
}
.project-btn{
    font-family: 'Poppins',sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    white-space: nowrap;
    line-height: 250%;
}
.aboutme-btn{
    font-family: 'Poppins',sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    white-space: nowrap;
    line-height: 250%;
}
@media only screen and (max-width:428px){
    .contact-btn,.project-btn,.aboutme-btn{
        font-size: 14px;
        padding-right: 40px;
    }
}