.home-container{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    display: grid;
    grid-auto-flow: row;
    overscroll-behavior-y: contain;
    scroll-snap-type: y mandatory;
}
.hero-container{
    scroll-snap-align: start;
}
.projectPage-container{
    scroll-snap-align: start;
}
/* .mouse-demo{ 
    position: absolute;
    width: 70px;
    height: 70px;
    border: 1px dashed #fff;
    border-radius: 100%;
    z-index: 99;
    top: 0;
    animation: rotation linear 4s infinite;
}
@keyframes rotation {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(180deg);
    }
} */